<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); height: 40vh"><h1><%= @cocktail.name %></h1></div>
<div class="container cocktail">
<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
  </div>
  <div class="col-6 col-md-4">
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item ingredients-list">
          <p>
            <span><%= dose.ingredient.name %></span>
            <small><%= dose.description %></small>
            <%= link_to '<i class="far fa-times-circle" style="font-size:16px;"></i>'
            .html_safe, dose_path(dose), class: "delete-dose",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          </p>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add new dose", new_cocktail_dose_path(@cocktail) %>
  </div>
  <%= link_to "Back to all cocktails", cocktails_path %>
  </div>
</div>
